#img{
    background-image: url("https://cdn.studenti.stbm.it/images/2022/10/03/concetti-base-di-informatica_300x200.jpeg");
    width: 500px;
    height: 500px;
    background-position: center;
    background-size: cover;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation-name: ingrandimento;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes ingrandimento {
    0%{
        transform: scale(100%);
    }
    50%{
        transform: scale(130%);
    }
    100%{
        transform: scale(100%);
    }
}